@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.product-card {
  width: 100%;
  background-color: white;
  cursor: pointer;
  margin: 0 auto;
  max-width: 217.56px;
  min-height: 285px;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: auto 1fr auto; */
  grid-gap: 12px;
  font-family: Montserrat;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13);
}

.card__image {
  display: flex;
  width: 100%;
  max-width: 111px;
  height: 138px;
  margin: 0 auto;
  margin-top: 18px;
}

.card__infos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card__name{
  grid-column: 1 / 3;
  padding-left: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-right: 20px;
}

.box__card--price {
  background-color: #373737;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 8px 8px;
  width: auto;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3;
  margin-top: 3px;
  margin-right: 10px;
}

.card__price {
  font-size: 15px;
  grid-column: 3;
  width: 100%;
  font-weight: 700;
  line-height: 15px;
}

.box__card--span{
  font-size: 15px;
  padding-right: 2px;
  font-weight: 700;
  line-height: 15px;
}

.card__description {
  margin-top: 8px;
  grid-column: 1 / 4;
  font-size: 10px;
  line-height: 12px;
  color: #2C2C2C;
  text-align: left; 
  padding: 0px 14px;
}

.button__add-cart{
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: #0F52BA;
  border: 2px solid transparent;
  border-radius: 0px 0px 8px 8px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}

.button__add-cart > span{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
  min-height: 31.91px;
}



