footer{
  width: 100%;
  background: #EEE;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 960px) {
  footer{
    position: static;
  }
}